[submodule "octree-miniapp"]
	path = octree-miniapp
	url = git@github.com:tbending/octree-miniapp.git
	branch = phantom
[submodule "cosmoSPHere"]
	path = cosmoSPHere
	url = git@github.com:tbending/cosmoSPHere.git
	branch = phantom
